.card { margin: 2rem 0 2rem 0; }

.card-table {
  height: 25.3%;
  display: table;
  width: 100%;
}

  .card-table-cell {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    font-size: 20px;

    i {
      font-size: 35px;
      margin-bottom: 5px;
    }
  }

.last-card {
  .card { margin-bottom: 65px; }
}
