.card {
  margin: 1.1rem 0 1.1rem 0;

  .card-content {
    padding: 5px 10px;

    h2 {
      margin: 0;
      font-size: 1em;
      font-weight: normal;
    }
    p {
      margin: 0 0 10px;
    }
  }
}

.card-table {
  height: 29%;
  display: table;
  width: 100%;

  @media all and(max-height: 480px) {
    height: 28%;
  }
}

.card-table-cell {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  text-align: center;
  font-size: 20px;

  i {
    font-size: 35px;
    margin-bottom: 5px;
  }
}

.last-card {
  .card {
    margin-bottom: 65px;
  }
}

.card-img {
  padding: 0;

  img {
    width: 100%;
  }
}