.partidoNovo--color {
  background-color: #f58426;
  color: #f58426;

  .title, .card-table-cell { color: #fff; }
}

.partidoNovo--color--blue { background-color: #5fcec6; }

.paditdoNovo__title--color { color: #f58426; }
