.card-table {
  height: 28%;
  display: table;
  width: 100%;
}

.list {
  .card-table-cell {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    font-size: 20px;

    i {
      font-size: 35px;
      margin-bottom: 5px;
    }
  }
}

