.item {
  white-space: normal;
  h2 {
    overflow: inherit;
    text-overflow: inherit;
    white-space: normal;
  }
}


.item-button-right {
  .button {
    font-size: 8px;
    padding: 0 9px;
    right: 5px;
  }
}
