<div class="list card stable-bg">
  <div class="item item-button-right">
    <button class="button button-flat button-balanced ink btn-inscrevase" open-url="{{ event.link_original }}">
      inscreva-se
    </button>
    <button
      class="button button-flat button-balanced ink btn-map"
      ng-click="seeLocation()">
      ver no mapa
    </button>
    <button
      class="button button-flat button-balanced ink btn-agenda"
      ng-click="addToCalendar()">
       + agenda
    </button>
    <a href="#/events/list/detail/{{ event.id }}">
      <h2>{{ event.endereco_cidade }}</h2>
      <p>{{ event.data_inicio | momentDate}} <small>(de {{ event.data_inicio | momentHours }} até {{ event.data_termino | momentHours }})</small></p>
      <h3>{{ event.titulo }}</h3>
      <span class="item__date-description">{{ event.endereco_nome }}</span>
      <address class="item__address">
        <span>{{ event.endereco_rua }}, {{ event.endereco_bairro }}, {{ event.endereco_cidade }} - {{ event.endereco_estado }} </span>
      </address>
    </a>
  </div>
</div>


