<ion-view>
  <ion-content>
    <event ng-repeat="event in vm.events track by $index"
            titulo="{{event.titulo}}"
            nome="{{ event.endereco_nome }}"
            rua="{{ event.endereco_rua }}"
            cidade="{{ event.endereco_cidade }}"
            bairro="{{ event.endereco_bairro }}"
            estado="{{ event.endereco_estado }}"
            link="{{ event.link_original }}"
            inicio="{{ event.data_inicio }}"
            fim="{{ event.data_termino }}"
            index="{{ $index }}">
    </event>
  </ion-content>
</ion-view>
