<ion-view view-title="Sobre o App">
  <!-- do you want padding? -->
  <ion-content class="padding">
      <div class="list card stable-bg">
        <div class="item item-body">
          Este aplicativo é uma iniciativa pessoal e não tem ligações oficiais com o partido novo.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae quo atque debitis iusto possimus, porro recusandae doloremque explicabo. Debitis sit quod ab, soluta aspernatur illo minima ratione quaerat voluptatum assumenda.
        </div>
      </div>

  </ion-content>
</ion-view>
