<ion-view view-title="Sobre o App">
  <!-- do you want padding? -->
  <ion-content class="padding">
      <div class="card">
        <div class="card-content">
          <p>
            Este aplicativo é uma iniciativa pessoal de Pedro Rocha
            (pedrogomesrocha@gmail.com) e não tem ligações oficiais com o
            Partido Novo ou é endossado pelo mesmo.
          </p>
          <p>
            Todos os conteúdos do aplicativo são copiados do website do Partido
            Novo(www.novo.org.br) sem qualquer alteração no teor, apenas na
            forma(para adaptar ao aplicativo).
          </p>
          <p>
            O desenvolvimento do aplicativo é em consonância com o que prega o
            Partido, onde os cidadãos devem tomar a iniciativa e fazer parte da
            mudança.<br/>
            Como muitas das minhas visões políticas estão de acordo com o que
            tenho visto no Novo, assim como acredito que alguns de seus valores
            fundamentais são importantes à sociedade brasileira e à mudança no
            cenário político do Brasil, tomei a iniciativa e buscarei colaborar
            de alguma forma.
          </p>
        </div>
      </div>

  </ion-content>
</ion-view>
