<ion-view view-title="Sobre o Partido Novo">
  <!-- do you want padding? -->
  <ion-content class="padding" scroll="false">
      <div class="card card-table partidoNovo--color" open-url="http://novo.org.br/conheca.php">
        <div class="card-content card-table-cell partidoNovo--color">
           <i class="ion ion-gear-a"></i>
           <br>
           Valores
        </div>
      </div>
      <div class="card card-table partidoNovo--color partidoNovo--color--blue" open-url="http://novo.org.br/desafios.php">
        <div class="card-content card-table-cell partidoNovo--color partidoNovo--color--blue">
          <i class="ion ion-ios-people"></i>
          <br>
          Desafios
        </div>
      </div>
      <div class="card card-table partidoNovo--color" open-url="http://novo.org.br/nossos-diferenciais.php">
        <div class="card-content card-table-cell partidoNovo--color">
          <i class="ion ion-ios-world"></i>
          <br>
          Diferenciais
        </div>
      </div>
  </ion-content>
</ion-view>
